table {
    border-spacing: 0;
    width: 100%;
    padding: 0.5rem;
    border-collapse: collapse;
    tr {
        th {
            text-align: left;
            border-bottom: 1px solid;
        }

        &.promotion {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }

        td, th {
            padding: 1rem;
            width: 15%;

            &:last-child {
                width: auto;
            }

            &.quantity i.fa-minus {
                padding-right: 1rem;
            }

            &.quantity i.fa-plus {
                padding-left: 1rem;
            }
        }

        td.remove-cart, td.clear-cart {
            text-align: right;
        }

        td i.fa-circle-info {
            text-align: right;
        }

        &.product:hover {
            background-color: #ddd;
        }

        button {
            background-color: transparent;
            border: 0;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    tr:last-child td {
        border-top: 1px solid;
    }
}

.message-empty-cart {
    padding-top: 3rem;
    text-align: center;
}

.red {
    color: red;
}

.discount-description {
    color: red;
    text-wrap: nowrap;
}

.price-not-applicable {
    text-decoration-line: line-through;
}